# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/solution/
**/out/
.idea/
leetcode.iml
/src/java/leetcode/editor/cn/doc/submission/
/src/java/leetcode/editor/cn/doc/note/
/src/java/leetcode/editor/cn/doc/content/
